<!DOCTYPEhtml>
<htmllang="en">

<head>
    <meta charset="UTF-8">
    <title>Upload Text</title>
    {% load staticfiles %}
</head>

<body>
<h1 align="center">数据处理</h1>
<form enctype="multipart/form-data" action="/uploadfile/" method="post">
   <input type="file" name="myfile"/>
   <br/>
   <input type="submit" name='upload' value="upload"/>
   <br/>
   <input type="button" value="Click me" onclick="msg()" />
   <br/>
   <input type="submit" name="draw" value="画图"/>
</form>
<img src="{% static 'ping-2021-02-16-11-53-17.svg'%}">
</body>

</html>
